.App {
  text-align: center;
}

.login {
  width: 600px;
  margin: 200px auto;
}

.login-vercode {
  vertical-align: middle;
  height: 42px;
  cursor: pointer;
  width: 170px;
  margin-left: 10px;
  margin-top: -5px;
}

.center {
  text-align: center;
}

.text-color {
  color: #fff;
}

.layout {
  height: 100%;
  min-height: 400px;
  padding: 20px;
  background-color: #ddd;
}
.container {
  padding: 20px;
  padding-top: 0;
  width: 100%;
  height: 100%;
}
.pd-20 {
  padding: 20px;
}

.bg-efefef {
  background-color: #fff;
}

.float-right {
  float: right;
}