.App {
  text-align: center;
}

.login {
  width: 600px;
  margin: 200px auto;
}

.login-vercode {
  vertical-align: middle;
  height: 42px;
  cursor: pointer;
  width: 170px;
  margin-left: 10px;
  margin-top: -5px;
}

.center {
  text-align: center;
}

.text-color {
  color: #fff;
}